# Gradle
.gradle/
**/build/

# IntelliJ/Eclipse/VSCode
.idea/
*.iml
.classpath
.project
.settings/
.vscode/

# OS
.DS_Store
Thumbs.db

# Logs
*.log
.gradle
knk-core/build
knk-api-client/build
knk-paper/build
knk-api-client/bin
knk-core/bin
knk-paper/bin
